@font-face{
  font-family: 'Gotham';
  src: url('Gotham-Font/Gotham-Font/GothamBold.ttf');
  font-weight: normal;
  font-style: normal;
}
  * {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .Wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    font-family: 'Gotham', sans-serif;
    
  }
  .container{
    height:100%;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
  }
  .container h1{
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
  }
  
  .card{
    width: 480px;
    height: 300px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
  }
  .row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .row2{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom , rgba(230, 22, 126, 0.87), rgba(230,22,126,0.87));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .card:hover:before{
    opacity: 1;
  }
  .card img{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    border-radius: 5px;
  }
  .card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
   
  }
  .card:hover .info{
    opacity:1;
    transform: translateY(0px);
  }
  .card .info h1{
    margin:0;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .card .info p{
    width: 90%;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .description{
    text-align: center;
  }